.blob {
  position: relative;
  top: 50px;
  left: 0;
  fill:  rgba(7, 104, 159, 0.05);
  width: 50vmax;
  z-index: -1;
  animation: move 60s ease-in-out infinite;
  transform-origin: 50% 50%;
  overflow-x: hidden;
}