.findings-mg {
  margin-left: 0px;
  margin-right: 0px;
}
@media (max-width: 812px) {
.findings-mg {
  margin-left: 15px;
  margin-right: 15px;
} }

p {
  margin-left: 0px;
  margin-right: 0px;
}
@media (max-width: 812px) {
p {
  margin-left: 15px;
  margin-right: 15px;
} }

.desc {
	font-size: 30px;
	line-height: 45px;
	text-align: center;
}
@media (max-width: 812px) {
	.desc {
	font-size: 21px;
	line-height: 28px;
	text-align: center;
} }


	.intro {
	font-size: 60px;
	line-height: 58px;
	text-align: center;
}
@media (max-width: 812px) {
	.intro {
	font-size: 48px;
	line-height: 48px;
	text-align: center;
} }

	.profile-intro {
	font-size: 50px;
	line-height: 55px;
}
@media (max-width: 812px) {
	.profile-intro {
	font-size: 36px;
	line-height: 42px;
	margin-left: 15px;
	margin-right: 15px;
} }

	.case-studies-p {
	font-size: 50px;
	line-height: 55px;
}
@media (max-width: 812px) {
	.case-studies-p {
	font-size: 42px;
	line-height: 42px;
} }

	.case-studies-desc {
	font-size: 24px;
	line-height: 1.8rem;
	margin-left: 5px;
	margin-right: 5px;
}
@media (max-width: 812px) {
	.case-studies-desc {
	font-size: 18px;
	line-height: 1.8rem;
	margin-left: 5px;
	margin-right: 5px;
} }
