/* header */

.header {
  background-color: #F7FBFC;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  height: 90px;
}

.header ul {
  margin-top: 18px;
  margin-right: 30px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #F7FBFC;
}
@media (max-width: 812px) {
  .header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #F7FBFC;
} }

.header li a {
  display: inline-block;
  padding: 25px 20px;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  color: #272727;
}

.header li a:hover,
.header .menu-btn:hover {
  color: rgba(0,0,0,0.5);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 22px 25px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 60px 45px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #272727;
  display: block;
  height: 5px;
  position: relative;
  transition: background .2s ease-out;
  width: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #272727;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 10px;
}

.header .menu-icon .navicon:after {
  top: 10px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
