// Navigation Variables
$content-width: 960px;
$breakpoint: 799px;
$nav-height: 90px;
$nav-background: #F7FBFC;
$nav-font-color: #000000;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
  font-size: 1.2rem;
  z-index: 1;
  padding-top: 15px;
}
@media only screen and (max-width: 798px) {
.navigation {
  padding-top: 0;
  }
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 25px;
  float: left;
  line-height: $nav-height;
  }
@media only screen and (max-width: 798px) {
  .brand {
    padding-top: 16px;
  }
}


// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

// Navigation 
nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited,
      a:focus {
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $nav-background;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  border:none;
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: 798px) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
   padding: 0px 100px 25px 0px;
    ul {
      display: none;
        box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.0034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.0048),
  0 2.5px 10px rgba(0, 0, 0, 0.006),
  0 2.3px 17.9px rgba(0, 0, 0, 0.0072),
  0 1.8px 33.4px rgba(0, 0, 0, 0.086),
  0 1px 80px rgba(0, 0, 0, 0.012)
;
      li {
        float: none;
        a, a:visited {
          padding-top: 40px;
          padding-right: 25px;
          padding-left: 25px;
          padding-bottom: 40px;
          line-height: 20px;
          background: #fff;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .margin-nav {
    padding-top: 70px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: relative;
  left: 20px;
  top: 45px;
  cursor: pointer;
  height: 37px;
  width: 35px;
  background-color: #FFC947;
  border-radius: 50px 15px 50px 15px;
  display: block;
  padding-top: 19px;
  padding-left: 8px;
  span,
  span:before,
  span:after {
    z-index: 1;
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 15px;
    color: white;
    background: #0A1931;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;

  }
  span:before {
    top: -6px;
  }
  span:after {
    bottom: -6px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}