/*------------------------------------*\
    #Decentralised Browser
\*------------------------------------*/

.case-studies {
	max-width: 660px;
}

.db-header {
  padding-top: 7rem;
  padding-bottom: 13rem;
}
@media (max-width: 812px) {
	.db-header {
  padding-top: 3rem;
  padding-bottom: 0rem;
} }

.db-tg {
  padding-top: 4rem;
}
@media (max-width: 812px) {
	.db-tg {
  padding-top: 2.5rem;
} }


  .intro-db {
  font-size: 28px;
  line-height: 38px;
} 
@media (max-width: 812px) {
  .intro-db {
  font-size: 28px;
  line-height: 38px;
  margin-left: 15px;
  margin-right: 15px;
  } 
}

p {
  margin-left: 0px;
  margin-right: 0px;
}
@media (max-width: 812px) {
p {
  margin-left: 15px;
  margin-right: 15px;
  } 
}

.desc2 {
  font-size: 23px;
}
@media (max-width: 812px) {
  .desc2 {
  font-size: 21px;
  } 
}

.summary-margin {
  margin-top: 100px;
}
@media (max-width: 812px) {
  .summary-margin {
  margin-top: 20px;
  } 
}