/*------------------------------------*\
    Homepage 

    Section: Header
\*------------------------------------*/

.main-header {
  padding-top: 8rem;
  padding-bottom: 3rem;
}
@media (max-width: 812px) {
	.main-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
	} 
}

/*------------------------------------*\
    Homepage 

    Section: Profile
\*------------------------------------*/

.profile {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (max-width: 768px) {
.profile {
  padding-top: 0rem;
  padding-bottom: 3rem;
} }


.pimg {
  position:absolute;
  width: 400px;
  margin-top: -100px;
  margin-left: 80px;
}
@media (max-width: 768px) {
.pimg {
  position:relative;
  width: 250px;
  margin-top: -190px;
  margin-left: 0px;
	} 
}


.profile-desc-mg {
  margin-top: -150px;
}
@media (max-width: 768px) {
  .profile-desc-mg {
margin-top: 50px;
} }


/*------------------------------------*\
    Homepage 

    Section: Case Studies
\*------------------------------------*/

.work {
  background-color: #FFF;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bb {
  z-index:300000;
  position:absolute;
  margin-top: 240px;
  margin-left: -50px;
}

.container-work {
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*------------------------------------*\
    Homepage 

    Section: Visual
\*------------------------------------*/

.visual {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.container-visual {
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*------------------------------------*\
    Homepage 

    Section: Footer
\*------------------------------------*/

.footer {
  background-color: #FFF;
  padding: 2rem;
}
