/*------------------------------------*\
    Homepage 

    Section: Profile
\*------------------------------------*/

.profile {
  padding-top: 0rem;
  padding-bottom: 4rem;
}
@media (max-width: 768px) {
.profile {
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 0rem;
  padding-bottom: 3rem;
} }

.pimg-row {
  display: flex;
}
.pimg {
  z-index:300000;
  position:absolute;
  width: 480px;
  margin-top: -245px;
  margin-left: 580px;
}
@media (max-width: 768px) {
.pimg {
  justify-content: flex-end;
  position:relative;
  width: 250px;
    margin-top: -190px;
  margin-left: 95px;
} }


.profile-desc-mg {
  margin-top: -150px;
}
@media (max-width: 768px) {
  .profile-desc-mg {
margin-top: 50px;
} }