/*------------------------------------*\
    Homepage 

    Section: Visual
\*------------------------------------*/

.visual {
  background-color: #FFF;
  padding-top: 5rem;
  padding-bottom: 2rem;
}


.container-visual {
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  background-color: #FFF;
  padding: 2rem;
}
