/*------------------------------------*\
    Homepage 

    Section: Header
\*------------------------------------*/

.main-header {
  padding-top: 9rem;
  padding-bottom: 8rem;
}
@media (max-width: 812px) {
	.main-header {
  padding-top: 6rem;
  padding-bottom: 5rem;
	} 
}

/*------------------------------------*\
    Homepage 

    Section: Profile
\*------------------------------------*/

.profile {
  padding-top: 3rem;
  margin-bottom: -10rem;
}
@media (max-width: 768px) {
.profile {
  padding-top: 0rem;
  padding-bottom: 3rem;
} }

.profile-img {
  position: relative;
  width: 500px;
  margin-top: -120px;
  margin-left: 158px;
}
@media (max-width: 768px) {
.profile-img {
  width: 345px;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
} }

/*------------------------------------*\
    Homepage 

    Section: Case Studies
\*------------------------------------*/

.work {
  border-top: 1px dashed black;
  background-color: #FFF;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.bb {
  z-index:300000;
  position:absolute;
  margin-top: 240px;
  margin-left: -50px;
}

.container-work {
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*------------------------------------*\
    Homepage 

    Section: Visual
\*------------------------------------*/

.visual {
  background-color: #FFF;
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.container-visual {
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*------------------------------------*\
    Homepage 

    Section: Footer
\*------------------------------------*/

.footer {
  background-color: #fff;
  padding: 2rem;
}
