/*------------------------------------*\
    Homepage 

    Section: Case Studies
\*------------------------------------*/

.work {
  background-color: #FFF;
  padding-top: 5rem;
  padding-bottom: 0rem;
}

.bb {
  z-index:300000;
  position:absolute;
  margin-top: 240px;
  margin-left: -50px;
}

.container-work {
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}