/*------------------------------------*\
    #Header
\*------------------------------------*/

.main-header {
  padding-top: 12.5rem;
  padding-bottom: 0rem;
}
@media (max-width: 812px) {
	.main-header {
  padding-top: 9rem;
  padding-bottom: 0rem;
} }