.project-summary1 {
  background: #04ABDE;
  padding-bottom: 3rem;
  border-radius: 50px 0 0 0;
}
@media (max-width: 812px) {
	.project-summary1 {
  margin-top: 2rem;
} }

.project-summary2 {
  background: #18414F;
  padding-bottom: 3rem;
  border-radius: 50px 0 0 0;
}
@media (max-width: 812px) {
  .project-summary2 {
  margin-top: 2rem;
} }

.head-1 {
  color: #FFF;
  margin-top: 2rem;
  font-size: 42px;
  font-weight: 700;
}
@media (max-width: 812px) {
.head-1 {
  font-size: 36px;
  margin-top: 0;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 15px;
} }

.head-2 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
 }
 @media (max-width: 812px) {
.head-2 {
  margin-left: 15px;
  margin-right: 15px;
 } }

.small-desc {
  color: #FFF;
  font-size: 24px;
 }
 @media (max-width: 812px) {
.small-desc {
  font-size: 21px;
 }}

.id {
  color: #FFF;
  text-indent: 80px;
 }
 @media (max-width: 812px) {
.id {
 }}

.ps-desc {
	color: #fff;
	font-size: 24px;
}
@media (max-width: 812px) {
	.ps-desc {
	font-size: 21px;
	margin-left: 15px;
  margin-right: 15px;
	margin-top: -20px;
} }


.ps-img {
  position:absolute;
  width: 850px;
  margin-top: -150px;
}
@media (max-width: 768px) {
.ps-img {
  position:relative;
  width: 450px;
  margin-top: 50px;
  margin-left: -15px;
} }


